<div id="feed">
    {{#each reviewData}}
        {{#if this.User.showname}}
            <p>{{this.user.first_name}} {{this.user.last_name}} ({{this.rating}} stars)</p>
        {{else}}
            <p>{{this.user.username}} ({{this.rating}} stars)</p>
        {{/if}}
        <p>{{this.reviewText}}</p>
    {{/each}}
</div>
<div id="search">

</div>