<link rel="stylesheet" href="/css/stars.css">
<content class="mainContent">

<form id="reviewForm">
    Product:
    <select id="product" placeholder="Select one">
        <option></option>
{{#each productData}}
        <option value="{{id}}" {{#if selectedProduct}}selected{{/if}}>{{category.name}} - {{name}}</option>
{{/each}}
    </select>
    
    <div class="starscont">
      <div class="stars">
        <input class="star star-5" id="star-5-2" type="radio" name="star" value="5"/>
        <label class="star star-5" for="star-5-2"></label>
        <input class="star star-4" id="star-4-2" type="radio" name="star" value="4"/>
        <label class="star star-4" for="star-4-2"></label>
        <input class="star star-3" id="star-3-2" type="radio" name="star" value="3"/>
        <label class="star star-3" for="star-3-2"></label>
        <input class="star star-2" id="star-2-2" type="radio" name="star" value="2"/>
        <label class="star star-2" for="star-2-2"></label>
        <input class="star star-1" id="star-1-2" type="radio" name="star" value="1"/>
        <label class="star star-1" for="star-1-2"></label>
        <div class="rev-box">
          <textarea id="reviewText" class="review" col="30" name="review" placeholder="brief review..."></textarea>
        </div>
      </div>
    </div>
    <button>Submit Review</button>
</form>
<hr>
<h1>Reviews</h1>
<br>
{{#each reviewData}}
<b>{{user.username}}</b>
<label class="reviewstars reviewstars-{{rating}}"></label>
<i>
"{{reviewText}}"
</i>
<br>
{{/each}}

</content>

<script src="/js/review.js"></script>