{{!-- <form>
    <input type="text" id="search" placeholder="search">
    
    <button>Search</button>
</form> --}}

<div id="feed">
    {{#each reviewData}}
        <div class="reviewcard">
            <header>
                <h2>{{this.product.name}} ({{this.product.category.name}})</h2>
                <p>{{this.rating}} stars</p>
            </header>
            {{#if this.User.showname}}
                <p>Posted by <a href="/profile/{{this.user.username}}">{{this.user.first_name}} {{this.user.last_name}}</a></p>
            {{else}}
                <p>Posted by <a href="/profile/{{this.user.username}}">{{this.user.username}}</a></p>
            {{/if}}
            <p>{{this.reviewText}}</p>
        </div>
    {{/each}}
</div>